@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

nav.navbar {
  background-color: $wild-sand;
  border-bottom: 2px solid $silver-chalice;
  z-index: 2000;
  i {
    font-size: 1.6rem;
  }

  .navbar-toggler {
    background-color: $cod-gray;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }

  ul.navbar-nav {
    width: 100%;
    justify-content: space-evenly;

    a.nav-link {
      color: $cod-gray;
      font-size: 1.2rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      i.fas.fa-angle-down {
        margin-left: 0.25rem;
      }
    }
  }
}

// Cho riêng 2 icon giỏ hàng & tìm kiếm
.nav-find,
.nav-cart {
  position: relative;
}

// Fix lại vị trí của 2 icon cart và finding trên nav-bar tablet trở xuống
@include nav-fix(375px, 425px, 9vw, 5vw);
@include nav-fix(425px, 500px, 18vw, 9vw);
@include nav-fix(500px, $sm, 26vw, 13vw);
@include nav-fix($sm, $md, 144px, 72px);
@include nav-fix($md, $lg, 260px, 130px);

// Fix lại vị trí của 2 icon cart và finding trên nav-bar cho tablet trở lên
@media screen and (min-width: $lg) {
  .nav-cart {
    order: 1;
  }
  .nav-find {
    order: 2;
  }
}
