@use '../abstract/variables' as *;
.tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 5px 4px;
  font-size: 1.2rem;
  border: 1px solid $silver-chalice;
  padding: 6px 8px;
  display: inline;

  &:hover {
    background-color: $wasabi;
    color: $white !important;
  }
}
