$open-sans: 'Open Sans', sans-serif;
$lobster: 'Lobster';
$roboto: 'Roboto', sans-serif;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$cod-gray: #1a1a1a;
$wasabi: #789629;
$wild-sand: #f4f4f4;
$seashell: #f1f1f1;
$tundora: #c4c3c3;
$silver-chalice: #a8a8a8;
$white: #ffffff;
$black: #050505;
$monza: #d90a0a;
$concrete: #f2f2f2;
