//- Lệnh auto save file: pug -w . -o ./ -P 
//- watch; input directory; output; output directory; Pretty (Phải viết hoa)
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    //- Include nguyên cả nav sang
    include nav 
    block main 
      div The page content
    block foot
      #footer
        p Footer content

