@keyframes dance {
  25% {
    /* Horizontal, Vertical */
    transform: translate(90px, 90px);
  }
  50% {
    transform: rotateX(70deg);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: skewY(-20deg);
  }
}
.dance-component {
  animation: dance 3s ease-in 1s 2;
}

.center-image {
  display: block;
  margin: auto;
  /*! Dùng khi border-radius ko hoạt động */
  overflow: hidden;
}
